label {
    text-align: start;
    align-self: end;
    padding: 10px 0 10px 10px;
    grid-row-start: rowLine1;
    grid-row-end: rowLine2;
}

select {
    height: 30px;
    width: 150px;
    margin: 0 0 10px 10px;

    grid-row-start: rowLine2;
    grid-row-end: rowLine3;
}

p {
    margin: 0px;
    text-align: start;
}

.Filter-container {
    margin: 40px;
    width: 340px;
    height: 100px;
    background-color: white;

    display: grid;
    grid-template-columns: [colLine1] 50% [colLine2] 50% [colLine3];
    grid-template-rows: [rowLine1] 50% [rowLine2] 50% [rowLine3];
}

.Character-container {
    padding-left: 4px;
    width: 1000px;
    background-color: white;

    display: grid;
    grid-template-columns: [colLine1] 120px [colLine2] auto [colLine3];
    grid-template-rows: [rowLine1] 25% [rowLine2] 25% [rowLine3] 50% [rowLine4];
}

.Character-title {
    grid-column-start: colLine2;
    grid-column-end: colLine3;
    grid-row-start: rowLine1;
    grid-row-end: rowLine2;
}

.Character-picture {
    grid-column-start: colLine1;
    grid-column-end: colLine2;
    grid-row-start: rowLine1;
    grid-row-end: rowLine3;

    width: 100px;
    height: 100px;
    margin: 10px auto;
    border-radius: 50%;
}

.Character-category {
    grid-column-start: colLine2;
    grid-column-end: colLine3;
    grid-row-start: rowLine2;
    grid-row-end: rowLine3;
}

.Character-description {
    grid-column-start: colLine2;
    grid-column-end: colLine3;
    grid-row-start: rowLine3;
    grid-row-end: rowLine4;
}
